.catGrid{
    margin: 50px 30px;
}
.cat img{
    border:1px solid #e5e5e5;
    border-radius: 50%;
    
}
.cat{
    gap: 20px;
    padding: 0px 30px;
}
.cat{
    margin-top: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 20px;
}
.tom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tom h6{
    font-size: 16px;
    letter-spacing: 0.3px;
    font-weight: 500;
}
.tom p{
    color:#777777;
}

.tom {
    text-align: center;
    position: relative;
    
  }
  
  .tom p,
  .tom a {
    transition: opacity 0.3s ease;
    position: absolute;
    width: 100%;
    left: 0;
    top: 10px; 
    /* margin-bottom: 50px !important; */
    margin-top: 10px;
  }
  
  .tom p {
    opacity: 1;
    color: #777777;
  }
  
  .tom a {
    text-decoration: none;
    color: #146cda;
    font-weight: 500;
    opacity: 0;
    text-decoration: underline;
    text-underline-offset: 5px;
  }
  
  .cat:hover .tom p {
    opacity: 0;
  }
  
  .cat:hover .tom a {
    opacity: 1;
  }
  


.tom a{
  text-align: center;
}